/* FIXME: */
.menu-code {
  padding: 2px 5px;
  /* color: rgb(var(--color-black)); */
  line-height: 1;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid;
}
.menu-code-method {
  background-color: rgba(var(--color-yellow), 0.3);
  border-color: rgb(var(--color-yellow));
}

.menu-code-accent {
  background-color: rgba(var(--color-green), 0.35);
  border-color: rgba(var(--color-green), 0.6);
}
.menu-code-error {
  background-color: rgba(var(--color-orange), 0.25);
  border-color: rgba(var(--color-orange), 0.7);
}

.menu-code-unactive {
  background-color: rgba(var(--color-black), 0.05);
  border-color: rgba(var(--color-black), 0.15);
}

.menu-code-packages {
  background-color: rgba(var(--color-sea-green-light), 0.2);
  border-color: rgb(var(--color-sea-green-light));
  border-left: 4px solid rgba(var(--color-blue), 0.4);
}
.menu-code-outline {
  border-color: rgb(var(--color-violet-medium));
}
